.signup {
  width: 100%;
  height: 90.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b4148;
  padding: 5%;
}
.form {
  border: solid white 0.1rem;
  width: 35%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3b4148;
  padding: 0.5%;
}

.form label {
  color: white;
  display: inline-block;
  width: 18%;
  margin: 3%;
  font-weight: bold;
  font-size: 120%;
}

.form input {
  width: 40%;
  height: 50%;
}

.form div {
  text-align: center;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* CSS */
.button27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 4%;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
  will-change: transform;
}

.button27:disabled {
  pointer-events: none;
}

.button27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button27:active {
  box-shadow: none;
  transform: translateY(0);
}
